html
  body
    h1 Contact

    label Sent on:
    =' '
    pre=now


    label Name:
    =' '
    pre=body.name


    label E-mail:
    =' '
    pre=body.email


    label Subject:
    =' '
    pre=body.subject


    label Message:
    =' '
    pre=body.message
